<!DOCTYPE html>
<html>
  <head>
    <title>Register | E-Reference</title>

    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Ubuntu:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="container register">
      <div class="row">
        <div class="col-md-3 register-left">
          <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
          <h3>Welcome</h3>
          <p>In a moment you will enjoy the reference you need!</p>
          <a href="/login"
            ><button style="border: none; padding: 0.5rem 1rem">
              Login
            </button></a
          ><br />
        </div>
        <div class="col-md-9 register-right">
          <div class="tab-content" id="myTabContent">
            <div
              class="tab-pane fade show active"
              id="home"
              role="tabpanel"
              aria-labelledby="home-tab"
            >
              <h3 class="register-heading">Be an author!</h3>
              <form action="/register" method="post">
                <div class="row register-form">
                  <div class="col-md-6">
                    <div class="form-group" style="margin-bottom: 2%">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Fullname *"
                        name="fullname"
                      />
                    </div>
                    <div class="form-group" style="margin-bottom: 2%">
                      <input
                        type="email"
                        name="email"
                        required
                        class="form-control"
                        placeholder="Email *"
                      />
                    </div>
                    <div class="form-group" style="margin-bottom: 2%">
                      <input
                        type="text"
                        minlength="10"
                        maxlength="10"
                        class="form-control"
                        placeholder="Phone Number *"
                      />
                    </div>
                    <button type="submit" class="btnRegister">Register</button>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group" style="margin-bottom: 2%">
                      <input
                        type="password"
                        name="password"
                        required
                        class="form-control"
                        placeholder="Password *"
                      />
                    </div>
                    <div class="form-group" style="margin-bottom: 2%">
                      <input
                        type="password"
                        class="form-control"
                        placeholder="Confirm Password *"
                      />
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"
    ></script>
    <script src="./js/register.js"></script>

    <script src="/reload/reload.js"></script>
  </body>
</html>
